.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#koleksi {
  background: linear-gradient(to bottom, #a2d9ff, #e2edff);
  padding: 80px; /* Tambahkan ruang di sekitar konten */
}

#layanan {
  background: linear-gradient(to bottom, white, #a2d9ff); 
  padding: 80px 20px; 
  margin: 0; 
  width: 100%; 
  box-sizing: border-box;
}
#layanan h3 {
  font-weight: bold; 
}
#layanan p {
  font-size: 1.9rem;
  line-height: 3.6;
}
.about-section {
  padding: 30px; 
  margin: 0; 
  background: linear-gradient(to bottom, #a2d9ff, white);
}
.section-about {
  background-color: white; 
  padding: 20px 20px;
  border-radius: 8px; 
  margin: 0;
}
